.quill-editor {
  height: 100%;
}

.limit {
  border: 1px solid #ccc;
  line-height: 30px;
  text-align: right;
  margin-top: -30px;
}
.limit span {
  color: #ee2a7b;
}

.ql-snow .ql-editor img {
  max-width: 480px;
}

.ql-editor .ql-video {
  max-width: 480px;
}

