.app-background{
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  z-index: -100;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  zoom: 1;
}
.app-background img{
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: -99;
}
.box-card {
  height: 92%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.login-table {
  text-align: center;
  display: flex;
  justify-content:center;
}
.el-form-item__label {
  text-align: center !important;
}
.icon-button {
  display: flex;
  justify-content: flex-end;
}
